body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1.1)), url(../media/heroback.jpg);
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.hero-text {
	text-align: center;
	position: absolute;
	border: 7px solid white;
	top: 50%;
	font-family: 'Playfair Display', serif;
	padding: 1rem 7rem;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	h1{
		font-size:7rem;
	}
	button {
		border: none;
		outline: 0;
		display: inline-block;
		padding: 10px 25px;
		color: black;
		background-color: #ddd;
		text-align: center;
		cursor: pointer;
		&:hover {
			background-color: #555;
			color: white;
		}
	}
}
.intro{
	iframe {
		width: -webkit-fill-available;
	}
}
.discord-section{
	background-image: url(../media/discordback.png);
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			min-height: 300px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-size: cover;
	// .parallax{
		

	// 		background-attachment: fixed;
	// 		background-position: center;
	// 		background-repeat: no-repeat;
	// 		background-size: cover;
					
	// }
	p{
		color:white
	}
	.heading{
		font-size: xx-large;
		color:white;
		font-weight: 700;
		text-align: center;
		text-transform: capitalize;
	}
	.discord-button{
		
		background-color: none;
		background-color: #d9a712;
		border: 0;
		width: max-content;
		display: flex;
		align-items: center;
		padding: 0.2rem 5rem;
		border-radius: 20px;
	
		img{
			// animation: myAnim 1s ease 0s infinite alternate-reverse both;
			width: 30px;
			margin-left: 1rem;
			
		}
		// box-shadow: 0px 4px 10px -4px #ebebeb;
		&:hover{
			// box-shadow: 0px 4px 10px 0px #ebebeb;
			background-color: #ae7052;
		}
		&:active{
			background-color: #ae7052 !important;
			// box-shadow: 0px 4px 10px 0px #ebebeb;
		}


	}

}
	

footer div{
    background-color:grey;
    color:white;padding:.2rem
}